body {
  background-color: #EEEEEE;
  /* background-color: #26312F;
  color: white; */
  font-family: "Goudy", "Work Sans", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

@font-face {
  font-family: "TwCen";
  src: local("TwCen"), url('./fonts/Tw-Cen-MT.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Goudy";
  src: local("Goudy"), url('./fonts/GoudyBookletter1911.ttf') format("truetype");
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "TwCen", "Work Sans", Helvetica, sans-serif;
}

p {
  letter-spacing: .7px;
}

.input-class::placeholder {
  color: black;
  opacity: 1;
}

.input-class:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#describe-button:hover {
  background-color: black;
}


@media only screen and (min-width: 700px) {
  .js-form {
    max-width: 40%;
  }
  
  #button-text-6 {
    max-width: 40%
  }
  
  .text-3 {
    max-width: 40%!important;
  }
  
  .text-7 {
    max-width: 80%!important;
  }
}

@media only screen and (max-width: 700px){
  img[src*="Untitled"] {
    min-width: 30%!important;
  }

  img[src*="FNK"] {
    width: 80%!important;
    min-width: 80%!important;
   }
}


@media only screen and (min-width: 700px) {
  .js-form {
    max-width: 57%;
  }
  
  #button-text-6 {
    max-width: 57%
  }
  
  .text-3 {
    max-width: 57%!important;
  }
  
  .text-7 {
    max-width: 55%!important;
  }
}

@media only screen and (max-width: 700px){
  img[src*="Untitled"] {
    min-width: 30%!important;
  }

  img[src*="FNK"] {
    width: 80%!important;
    min-width: 80%!important;
   }
}